.mainSection {
    background-image: linear-gradient(to bottom, #00000099 4%, #00000080 8%, #00000066 16%, transparent 32%);
    width: 100%;
    height: 120vh;
    position: absolute;
    overflow: hidden;
    clip: rect(0, auto, auto, 0);
}

.mainSection>img {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: scale(1);
}

.mainSection h1 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-family: "KGHAPPY", sans-serif;
    white-space: nowrap;
    font-size: 70px;
    font-weight: 400;
    line-height: 96px;
    color: black;
    background-color: white;
    padding: 15px;
}

.buttons {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    display: flex;
    gap: 1px;
}

.buttons a {
    text-align: center;
    background-color: var(--main-clr);
    padding: 26px 0;
    width: 200px;
    color: white;
    transition: background-color .25s ease;
}

.buttons a:hover {
    background-color: black;
}