.careersHomePage {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 200px auto;
    padding: 0 20px;
    gap: 20px;
}

.image {
    max-width: 50%;
    flex: 0 0 50%;
}

.image>div {
    width: 550px;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    border: 3px solid #c7c7c7;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.info {
    flex-basis: 50%;
}


.info h2 {
    user-select: none;
    background-color: var(--main-clr);
    white-space: nowrap;
    width: fit-content;
    font-size: 34px;
    font-weight: 500;
    color: white;
    padding: 10px;
    margin: 0 auto 20px;
}

.info h1 {
    user-select: none;
    font-family: KGHAPPY;
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    background-color: white;
    padding: 15px;
    width: fit-content;
    margin: 0 auto 50px;
    white-space: nowrap;
}

.description {
    /* width: 74%; */
    max-width: 465px;
    background-color: black;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}

.description p {
    color: white;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .32px;
    margin-bottom: 35px;
}

.redButton {
    display: inline-block;
    background-color: var(--main-clr);
    color: white;
    font-size: 14px;
    line-height: 26px;
    padding: 16px;
    transition: background .25s ease;
}

.redButton:hover {
    background-color: black;
}

@media (max-width: 1200px) {
    .info>h1 {
        font-size: 40px;
    }
}

@media (max-width:820px) {
    .careersHomePage {
        margin: 100px auto;
        flex-direction: column-reverse;
    }

    .image {
        max-width: none;
    }
}

@media (max-width:600px) {
    .info>h1 {
        font-size: 25px;
        line-height: 1;
        margin: 0 auto 20px;
    }

    .description {
        padding: 20px;
    }

    .description p {
        font-size: 13px;
    }

    .image>div {
        padding: 10px;
    }

    .image img {
        height: 300px;
    }

    .careersHomePage {
        margin: 50px auto;
    }

}