/*-- Careers section in Homepage --*/

.careersHomePage {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 200px auto;
    padding: 0 20px;
    gap: 20px;
}

.image {
    max-width: 50%;
    flex: 0 0 50%;
}

.image>div {
    width: 550px;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    border: 3px solid #c7c7c7;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.info {
    flex-basis: 50%;
}


.info h2 {
    user-select: none;
    background-color: var(--main-clr);
    white-space: nowrap;
    width: fit-content;
    font-size: 34px;
    font-weight: 500;
    color: white;
    padding: 10px;
    margin: 0 auto 20px;
}

.info h1 {
    user-select: none;
    font-family: KGHAPPY;
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    background-color: white;
    padding: 15px;
    width: fit-content;
    margin: 0 auto 50px;
    white-space: nowrap;
}

.description {
    /* width: 74%; */
    max-width: 465px;
    background-color: black;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}

.description p {
    color: white;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .32px;
    margin-bottom: 35px;
}

.redButton {
    display: inline-block;
    background-color: var(--main-clr);
    color: white;
    font-size: 14px;
    line-height: 26px;
    padding: 16px;
    transition: background .25s ease;
}

.redButton:hover {
    background-color: black;
}

@media (max-width: 1200px) {
    .info>h1 {
        font-size: 40px;
    }
}

@media (max-width:820px) {
    .careersHomePage {
        margin: 100px auto;
        flex-direction: column-reverse;
    }

    .image {
        max-width: none;
    }
}

@media (max-width:600px) {
    .info>h1 {
        font-size: 25px;
        line-height: 1;
        margin: 0 auto 20px;
    }

    .description {
        padding: 20px;
    }

    .description p {
        font-size: 13px;
    }

    .image>div {
        padding: 10px;
    }

    .image img {
        height: 300px;
    }

    .careersHomePage {
        margin: 50px auto;
    }
}

/*-- Careers section in Careers page --*/
.hero {
    display: flex;
    max-width: 1240px;
    padding: 260px 20px 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    font-size: 80px;
    line-height: 96px;
    background-color: white;
    font-family: KGHappy;
    font-weight: 500;
    margin-bottom: 60px;
    padding: 15px;
    width: fit-content;
}

.buttons {
    display: flex;
    gap: 4px;
}

.button {
    cursor: pointer;
    font-family: KGSolid;
    border: none;
    padding: 27px 15px;
    font-size: 15px;
    transition:
        background .25s ease,
        color .25s ease;
}

.white {
    background-color: white;
    color: #515151;
}

.white:hover {
    background-color: var(--main-clr);
    color: white;
}

.video {
    width: 50%;
    padding: 20px;
    border: 3px solid rgb(199, 199, 199);
    background-color: white;
}

.video video {
    width: 100%;
}

.information {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.container {
    border: 2px solid rgb(199, 199, 199);
    background-color: white;
    padding: 30px;
}

.container h2 {
    font-size: 28px;
    line-height: 56px;
    margin: 0 0 8px 16px;
    font-weight: 500;
}

.container p {
    font-size: 14px;
    color: #787676;
    margin: 0 0 16px 20px;
}

.container .button {
    margin-top: 20px;
    padding: 16px;
    font-size: 14px;
}

.background {
    position: fixed;
    top: -354px;
    left: 0;
    width: 100vw;
    z-index: -1;
}

.background img {
    width: 100%;
}