.footer {
    padding-top: 34px;
    background-color: #a4dac8;
}

.footer h1 {
    width: fit-content;
    margin: 0 auto 16px;
    font-size: 54px;
    font-family: KGTangledUPInYou2;
    font-weight: 500;
    color: black;
    padding-top: 17px;
}

.socials {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 16px;
    margin: 0 auto 34px;
    width: fit-content;
}

.circle {
    cursor: pointer;
    ;
    background-color: white;
    border-radius: 50%;
    height: 80px;
    border: 1px solid #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .25s, color .25s;
}

.circle svg {
    width: 65%;
    transition: fill .25s;
}

.circle:hover {
    background-color: black;
}

.circle:hover svg {
    fill: white;
}

.footerLinks {
    font-size: 12px;
    background-color: black;
    padding: 24px 0;
}

.up,
.bottom {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 20px 20px;
}

.up {
    gap: 30px;
}

.footer p,
.up a,
.bottom a {
    color: white;
    transition: color .25s;
}

.up a:hover,
.bottom a:hover {
    color: var(--main-clr);
}

.bottom {
    color: white;
    border-top: 1px solid white;
    opacity: .5;
    justify-content: space-between;
}

@media(max-width:800px) {
    .footer h1 {
        padding-top: 14px;
        font-size: 38px;
    }

    .socials {
        grid-template-columns: repeat(5, 65px);
    }

    .socials .circle {
        height: 65px;
    }
}

@media(max-width:480px) {
    .footer {
        padding-top: 24px;
    }

    .socials {
        grid-template-columns: repeat(5, 50px);
        margin: 0 auto 24px;
    }

    .socials .circle {
        height: 50px;
    }

    .footerLinks {
        font-size: 11px;
    }
}

/*-- News and offers component --*/

.newsAndOffers {
    max-width: 1240px;
    margin: 80px auto 50px;
    padding: 0 20px;
}

.newsAndOffers .container {
    background-color: #a4dac8;
    padding: 20px;
}

.top {
    display: flex;
    gap: 30px;
}

.top img {
    width: 80px;
}

.title h2 {
    font-size: 34px;
    line-height: 52px;
    letter-spacing: -2px;
    font-weight: 500;
    margin: 20px 0 6px;
}

.title p {
    font-size: 16px;
    color: #212529;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 78px 78px;
    align-items: center;
    gap: 0 30px;
}

.form>input {
    border: 2px solid #bfbfbf;
    font-family: KGSolid;
    padding: 11px;
}

.form>input:focus {
    outline: 2px solid #acacac;
}

.agreement {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    gap: 10px;
}

.agreement span {
    cursor: pointer;
    color: red;
}

.agreement button {
    cursor: pointer;
    font-family: KGSolid;
    border: none;
    padding: 15px;
    font-size: 15px;
    background-color: var(--main-clr);
    color: white;
    transition:
        background .25s ease,
        color .25s ease;
}

.agreement button:hover {
    background-color: black;
}

@media (max-width:1020px){
    .newsAndOffers{
        padding: 0;
    }
}

@media (max-width:860px){
    .form{
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 25px 0;
        margin-top: 30px;
    }

    .agreement {
        align-items: center;
    }
}

@media (max-width:600px){
    .newsAndOffers {
        margin-bottom: 0;
    }
}

@media (max-width:570px){
    .title h2 {
        font-size: 24px;
    }

    .title p {
        font-size: 14px;
    }
}