.mainSection {
    background-image: linear-gradient(to bottom, #00000099 4%, #00000080 8%, #00000066 16%, transparent 32%);
    width: 100%;
    height: 120vh;
    position: relative;
}

.imgWrapper {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: rect(0 100% 100% 0);
}

.imgWrapper>img {
    position: fixed;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: scale(1);
}

.mainSection h1 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-family: "KGHAPPY", sans-serif;
    white-space: nowrap;
    font-size: 70px;
    font-weight: 400;
    line-height: 96px;
    color: black;
    background-color: white;
    padding: 15px;
}

.buttons {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}

.buttons a {
    text-align: center;
    background-color: var(--main-clr);
    padding: 26px 0;
    width: 200px;
    color: white;
    transition:
        background-color .25s ease,
        padding .25s ease;
}

.buttons a:hover {
    background-color: black;
}

@media (max-width: 1220px) {
    .mainSection h1 {
        font-size: 50px;
        line-height: 76px;
    }
}

@media (max-width: 825px) {
    .mainSection h1 {
        font-size: 40px;
        line-height: 56px;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 4px;
    }
}

@media (max-width:700px) {
    .mainSection h1 {
        white-space: normal;
        top: 30%;
    }

    .buttons {
        top: 52%;
        font-size: 16px;
        gap: 4.5px;
    }

    .buttons a {
        padding: 17.5px 0;
    }
}

@media (max-width: 600px) {
    .mainSection {
        max-height: 100vh;
        background-image: none;
    }

    .mainSection h1 {
        top: 22%;
        font-size: 34px;
        line-height: 47px;
    }

    .buttons {
        top: 44%;
    }
}