.menuContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.background {
    position: fixed;
    top: 140px;
    left: 0;
    z-index: -2;
    width: 100vw;
}

.background img {
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}

.menuContainer>h1 {
    font-family: "KGHAPPY";
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    padding: 15px;
    background-color: white;
    width: fit-content;
    margin: 100px auto 40px;
}

.dropdown {
    cursor: pointer;
    font-size: 16px;
    font-family: KGsolid;
    color: white;
    background-color: black;
    border: 2px solid var(--main-border-clr);
    text-align: center;
    padding: 16px 0;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
}

.menu {
    width: 100%;
    display: flex;
}

.windowContainer {
    position: relative;
    text-align: center;
    z-index: 0;
    background-color: white;
    flex: 0 0 34.3%;
    height: 600px;
    margin-right: 20px;
    border: 3px solid #c7c7c7;
}

.windowImage {
    position: absolute;
    width: 90%;
    height: 94%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    display: grid;
    place-items: center;
    background-color: black;
    overflow: hidden;
}

.windowImage img {
    width: 100%;
    scale: 2.38;
    filter: brightness(70%);
}

.category {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-family: KGHAPPY;
    font-weight: 400;
    width: 70%;
    padding: 15px;
    line-height: 56px;
    background-color: white;
}

.description {
    font-size: 12px;
    color: white;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

.filtersAndListMenu {
    background-color: white;
    flex-grow: 1;
}

.filters {
    user-select: none;
    font-size: 13px;
    padding: 12px 0;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    gap: 28px;
    justify-content: center;
}

.filter {
    display: flex;
    gap: 4px;
}

.filter input {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #c7c7c7;
    border-radius: 1px;
}

.filter input:checked {
    background-color: #656565;
}

.menuList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

.meal {
    padding: 20px 40px 0;
    text-align: center;
    transition: opacity .25s ease;
}

.meal .name {
    color: var(--main-clr);
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 16px;
    transition: color .25s ease;
}

.meal.pass .name {
    color: #37ab2f;
} 

.meal .illustration {
    font-size: 14px;
    margin-bottom: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.meal .line {
    display: inline-block;
    width: 80%;
    border-bottom: .1rem solid #c7c7c7;
}

.fail {
    opacity: .3;
}