.comingSoon {
  cursor: pointer;
  user-select: none;
  position: absolute;
  color: white;
  font-size: 16px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  transition:
    top .8s ease-in,
    color 1s ease-in;
    z-index: 2;
}

.fade {
  color: rgba(255, 255, 255, 0);
}

@media (max-width: 500px){
    .comingSoon {
        font-size: 14px;
    }
}