.sidebar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background .3s;
}

.loading {
  background-color: black;
}

.halfway {
  background-color: var(--main-clr);
}

.complete {
  background-color: var(--main-clr);
}

.sidebar>* {
  opacity: 0;
  transition: opacity .3s;
}

.complete>* {
  opacity: 1;
}

.image {

  width: 50%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.options {
  width: 50%;
  padding-left: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.linkz {
  font-family: KGTangledUPInYou2;
  font-size: 55px;
  line-height: 59px;
}

.linkz>a {
  display: block;
  padding-top: 12px;
  transition:
    color .25s ease,
    transform .25s ease;
}

.linkz>a:hover {
  color: black;
  transform: translateX(1vw);
}

.socials {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 16px;
  margin: 15px 0;
  width: fit-content;
}

.circle {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  height: 60px;
  border: 1px solid #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .25s, color .25s;
}

.circle svg {
  width: 65%;
  transition: fill .25s;
}

.circle:hover {
  background-color: black;
}

.circle:hover svg {
  fill: white;
}

.bottomText {
  color: white;
  display: flex;
  font-size: 14px;
  gap: 30px;
  padding-top: 12px;
}

.bottomText>a {
  transition: color .25s ease;
}

.bottomText>a:hover {
  color: black;
}

.close {
  position: absolute;
  --distance: 14px;
  top: var(--distance);
  right: var(--distance);
  aspect-ratio: 1/1;
  width: 65px;
  background-color: black;
  border: none;
  
}

.close svg {
  padding-top: 2px;
  fill: white;
  width: 60%;
  transition: scale .25s ease;
}

.close:hover svg {
  scale: 1.2;
}
 
@media (max-width: 990px) {
  .image {
    width: 40%;
  }

  .bottomText {
    white-space: nowrap;
  }
}

@media (max-width: 990px) {
  .image {
    width: 18%;
  }
}

@media (max-width: 600px) {
  .options {
    padding-left: 20px;
    padding-top: 20px;
    justify-content: normal;
  }

  .linkz {
    font-size: 40px;
    line-height: 44px;
  }

  .linkz>a {
    padding-top: 14px;
  }

  .bottomText {
    padding-top: 0;
    font-size: 11px;
  }

  .socials {
    grid-template-columns: repeat(5, 50px);
  }

  .circle {
    height: 50px;
  }

}

@media (max-width: 500px) {
  .image {
    width: 6%;
  }

  .close {
    --distance: 14px;
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 420px) {
  .image {
    width: 4%;
  }
}